<div>
  <h3 class="client-head">
    <a ng-click="ctrl.setEditedClient(clientId, client)">
      {{ client.name }}
    </a>
  </h3>

  <div>
    <div class="matter-list row matter-row" ng-repeat="matter in client.matters | filter: ctrl.filterClients(filterClosedMatters) | filter:ctrl.filterMatters(searchMatter):strict">
      <div class="col-xs-10 nopadding">
        <div class="col-xs-1 head-checkbox"><input data-matter="matter" ng-model="property.checked" type="checkbox" /></div>
        <div class="col-xs-10 matter-head" ng-click="ctrl.showMatter(matter.id, matter)">
          <div class="matter-title">{{client.id}} - {{matter.number}}</div>
          <div class="matter-status" ng-if="matter.status === 'closed'">{{matter.status}}</div>
          <div class="matter-desc">{{matter.description}}</div> 
        </div> 
      </div>

      <div class="col-xs-1 matter-toggle">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-click="ctrl.deleteMatter(matter.id)">Delete Matter</li>
          <li ng-if="matter.status === 'open'" ng-click="ctrl.updateMatter(matter.id, { status: 'closed' }, true)">Close Matter</li>
          <li ng-if="matter.status === 'closed'" ng-click="ctrl.updateMatter(matter.id, { status: 'open' }, true)">Open Matter</li>
        </ul>
      </div>
    </div>
  </div>
</div>
