<div class="col-sm-5 nopadding">
  <div class="clients">
    <div class="select-matters">
      <div class="form-group">
        <input type="checkbox" select-all="matter"> Select all
      </div>
    </div>
    <simple-client
      class="simple-client"
      ng-repeat="(clientId, client) in ctrl.clients | filter:searchClient"
      ng-model="client.Selected"
      ng-class="{
        'active': ctrl.isCurrentClient(clientId)
      }"></simple-client>
  </div>
</div>

<div class="col-sm-7 nopadding">
  <div ng-if="ctrl.isEditing" class="col-xs-12 client-details">
    <h3>Editing {{ ctrl.editedClient.name }}</h3>
    <hr/>
    <form
      name="ctrl.updateForm"
      class="edit-form"
      role="form"
      ng-submit="ctrl.updateClient(ctrl.editedClient.id, ctrl.editedClient, ctrl.updateForm.$valid)"
      novalidate>
      <div class="form-group">

        <label>Client Name</label>
        <input
          type="text"
          class="form-control"
          ng-model="ctrl.editedClient.name"
          placeholder="Client Name"
          required>
      </div>
      <button
        type="submit"
        class="btn btn-info btn-lg"
        ng-disabled="ctrl.loading">
        Save
        <span ng-show="ctrl.loading" class="glyphicon glyphicon-refresh"></span>
      </button>
      <button
        type="button"
        class="btn btn-default btn-lg pull-right"
        ng-click="ctrl.cancelEditing()">
        Cancel
      </button>
    </form>
  </div>

  <!-- EDITING -->
  <div ng-if="ctrl.displayMatter" class="col-xs-12 client-details">
    <h3 class="display-matter-heading">{{ctrl.matterContent.id}} - {{ctrl.matterContent.number}} <span ng-if="ctrl.matterContent.status === 'closed'">{{ctrl.matterContent.status}}</span></h3>
    <div>{{ctrl.matterContent.description}}</div>
  </div>

</div>
